@import "tailwindcss";

@theme {
  --color-slate-900: #214761;
  --color-slate-800: #375971;
  --color-slate-700: #4d6c81;
  --color-slate-500: #647e90;
  --color-slate-300: #7a91a0;
  --color-slate-100: #90a3b0;
  --color-soft-bg: #f8fafb;
}

@layer base {
  body {
    @apply bg-soft-bg text-slate-900 antialiased;
  }
}

/* This creates the organic, "river stone" effect */
.bubble-shape {
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  transition: all 0.6s ease-in-out;
}

.bubble-shape:hover {
  border-radius: 40% 60% 70% 30% / 40% 70% 30% 60%;
}
