---
import '../styles/global.css';
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
	</head>
	<body class="bg-alabaster-50 font-sans text-baltic-900">
		<slot /> </body>
</html>